*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0 auto;
    font-family: verdana, arial, sans-serif;
    /*text-align: center;*/
}

body {
    color: #000;
    font-size: 0.6em;
    padding: 1em;
    display: flex;
    flex-direction: column;

}

main {
    display: flex;
    flex-direction: column;
}

article {
    background-color: #afccdc;
    flex: 2 2 2em;
    padding: 1em;
    margin: 0em 1em;
}

nav, aside {
    flex: 1;
    background-color: #ffcd00;
    padding: 1em;
    margin: 0 0em;
    width: 100%;
}

nav {
    order: -1;
}

header, footer {
    flex: 0 0 10em;
    background-color: #f2e58d;
    margin: 1em 0em;
    padding: 1em;
}

footer {
    background-color: #d1b38d;
}

@media screen and (min-width: 600px) {

    body{
        min-height: 100vh;
    }
    main {
        flex-direction: row;
        min-height: 100%;
        flex: 1 1 auto;
    }

    article {
        background-color: #afccdc;
        flex: 2 2 2em;
        padding: 1em;
    }

    nav {
        flex: 1;
        background-color: #ffcd00;
        padding: 1em;
        margin: 0em 0.3em;
        width: 100%;
    }

    aside {
        flex: 1;
        background-color: #ffcd00;
        margin: 0em 0.3em;
        width: 100%;
        padding: 1em 1em;
    }
}